.btn {
  background-color: #FFCE38;
  border-width: 2px;
  border-color: #FFF2CC;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
