*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 0;
  padding-top: 0;
  flex: 1;
}

p {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #FFCE38;
  border-width: 2px;
  border-color: #FFF2CC;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.slider {
  margin: 1.5rem;
}
.slider h2 {
  color: #FFCE38;
  font-size: 24px;
  font-weight: 700;
}

.slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.slider__container img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.slider__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #047395;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  border-width: 0;
}
.slider__caption-title {
  color: white;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.subheader {
  padding: 0;
}

.subheader,
nav {
  background-color: #047395;
  width: 100vw;
}
.subheader h2,
nav h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: font-primary-weight;
  font-size: font-size-h2;
  color: #FFFFFF;
}

.subheader__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.subheader__top.hidden {
  display: none;
}

.subheader__button-close,
.subheader__button-open {
  color: #FFCE38;
  background-color: #047395;
  border-width: 2px;
  border-color: #FFCE38;
  height: 30px;
  width: 30px;
  outline: none;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subheader__button-close svg,
.subheader__button-open svg {
  width: 20px;
  height: 20px;
}

.subheader__button-close {
  margin-top: 20px;
}

.subheader__nav {
  display: none;
}
.subheader__nav.active {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#this-page {
  text-decoration: underline;
}

header {
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 80px;
  width: 145px;
}

.searchbar__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}

.searchbar__input {
  flex: 1;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 36px;
  background-color: #FFF2CC;
  color: #012632;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: #41CFFA;
  border-bottom-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.searchbar__input:focus-visible {
  outline: #41CFFA auto 2px;
}

.searchbar__icon {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.searchbar__icon img {
  width: 14px;
  height: 14px;
}

footer {
  padding: 1rem;
  padding-left: 2rem;
  background-color: #012632;
  font-family: "Lato", sans-serif;
}
footer p {
  color: #FFF2CC;
  font-size: 16px;
}
footer svg {
  color: #FFF2CC;
  width: 24px;
  height: 24px;
}

.footer__icons {
  display: flex;
  justify-content: space-around;
  padding-right: 2rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__input {
  background-color: #FFF2CC;
  color: #012632;
  border-width: 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  outline: none;
  padding: 8px;
}

.footer__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #FFF2CC;
}
.footer__checkbox input {
  display: none;
}

.footer__checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.footer__checkbox-icon svg {
  width: 100%;
  height: 100%;
}

.footer__checkbox-check {
  opacity: 0;
}

.footer__submit {
  margin-right: 2rem;
  padding: 0.6rem;
  align-self: start;
  color: #012632;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
