*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

main {
  margin-top: 0;
  padding-top: 0;
}

p {
  font-family: "Lato", sans-serif;
}

.btn {
  background-color: #FFCE38;
  border-width: 2px;
  border-color: #FFF2CC;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.subheader,
nav {
  background-color: #047395;
  width: 100vw;
  display: flex;
}
.subheader h2,
nav h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: font-primary-weight;
  font-size: font-size-h2;
  color: #FFFFFF;
}
.subheader .header__nav-list,
nav .header__nav-list {
  display: none;
}

.header__button-close,
.header__button-open {
  color: #FFCE38;
  background-color: #047395;
  border-width: 2px;
  border-color: #FFCE38;
  height: 30px;
  width: 30px;
  outline: none;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button-close svg,
.header__button-open svg {
  width: 20px;
  height: 20px;
}

.header__button-close {
  display: none;
}

header {
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 80px;
  width: 145px;
}

.searchbar__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 20px;
}

.searchbar__input {
  flex: 1;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 36px;
  background-color: #FFF2CC;
  color: #012632;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: #41CFFA;
  border-bottom-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.searchbar__input:focus-visible {
  outline: #41CFFA auto 2px;
}

.searchbar__icon {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.searchbar__icon img {
  width: 14px;
  height: 14px;
}
