@use '../base/variables' as *;

.btn {
  background-color: $color-primary-yellow;
  border-width: 2px;
  border-color: $color-yellow-light;
  padding: 6px;
  font-family: $font-secondary;
  font-size: $font-size-p;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
