@use '../base/variables' as *;

.subheader {
  padding: 0;
}

.subheader,
nav {
  background-color: $color-blue-light;
  width: 100vw;

  h2 {
    font-family: $font-primary;
    font-weight: font-primary-weight;
    font-size: font-size-h2;
    color: $color-secondary-white;
  }
}

.subheader__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.subheader__button-close,
.subheader__button-open {

  color: $color-primary-yellow;
  background-color: $color-blue-light;
  border-width: 2px;
  border-color: $color-primary-yellow;
  height: 30px;
  width: 30px;
  outline: none;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.subheader__button-close {
  display: none;
}

.subheader__nav {
  display: none;
}
