@use '../base/variables' as *;

.slider {
  margin: 1.5rem;

  h2 {
    color: $color-primary-yellow;

    font: {
      size: $font-size-h2;
      weight: $font-primary-weight;
    }
  }
}

.slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}

.slider__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $color-blue-light;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  border-width: 0;

  &-title {
    color: white;
    margin: 0;

    font: {
      family: $font-secondary;
      size: $font-size-p;
    }
  }
}
