@use '../base/variables' as *;

.slider__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;

  img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }

}
