// Colores
$color-primary-blue: #41CFFA;
$color-primary-yellow: #FFCE38;

$color-yellow-light: #FFF2CC;
$color-blue-light: #047395;
$color-blue-dark: #012632;

$color-secondary-white: #FFFFFF;

// Tipografía y fuentes
$font-primary: 'Cormorant Garamond', serif;
$font-primary-weight: 700;
$font-primary-style: normal;
